@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme static{
    --font-inter:"Inter",sans-serif;
    --font-poppins:"Poppins",sans-serif;
    
    --color-primary: oklch(68.5% 0.169 237.323);
    --color-secondary: oklch(70.4% 0.04 256.788);
    --color-warning:oklch(90.5% 0.182 98.111);
    --color-danger:oklch(71.2% 0.194 13.428);
    --color-ghost:oklch(92.8% 0.006 264.531);
}

@media(prefers-color-scheme:dark){
    html{
        background: white !important;
        color:black !important;
    }
    .p-select-label{
        background-color: white !important;
    }
}